<?xml version="1.0"?>
<!--
    For more information on how to configure your ASP.NET application, please visit
    https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
    <system.web>
        <customErrors mode="Off"/>
        <compilation debug="true" targetFramework="4.5" />
        <globalization culture="en-US" uiCulture="en-US"/>
        <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
        <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FinserviceSoap"/>
                <binding name="StudentServiceSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://smartedu.mahidol.ac.th/FinService/Finservice.asmx" binding="basicHttpBinding" bindingConfiguration="FinserviceSoap" contract="FinService.FinserviceSoap" name="FinserviceSoap"/>
            <endpoint address="http://www.student.mahidol.ac.th/Infinity/InfoService/Module/Student/StudentService.asmx" binding="basicHttpBinding" bindingConfiguration="StudentServiceSoap" contract="StudentService.StudentServiceSoap" name="StudentServiceSoap"/>
        </client>
    </system.serviceModel>
    <connectionStrings>
        <add name="infinityConnectionString" connectionString="Server=stddb.mahidol;Database=Infinity;User ID=MuStudent53;Password=oydL7dKk53;Asynchronous Processing=true;"/>
        <add name="bermudaConnectionString" connectionString="Server=stddb.mahidol;Database=Bermuda;User ID=a;Password=gv@12345;Asynchronous Processing=true;"/>
    </connectionStrings>
    <appSettings>
        <add key="urlPictureStudent" value="http://intranet.student.mahidol/studentweb/resources/images"/>
        <add key="siteLocalPictureStudent" value="\\localhost\ProfileApp\Content\FileUpload\UploadDocument"/>
        <add key="siteServerPictureStudent" value="\\10.41.101.31\f\STWeb\StudentWeb\Resources\images"/>
        <add key="semester" value="1,2,3"/>
        <add key="hcsFileDownloadPath" value="../../../Content/FileDownload/HealthCareService"/>
        <add key="hcsPDFFormTemplate" value="../../../Content/Form/HealthCareService/HCSFormTemplate.pdf"/>
        <add key="hcsPDFFontNormal" value="../../../Content/Font/THSarabunNew.ttf"/>
        <add key="hcsPDFFontBold" value="../../../Content/Font/THSarabunNewBold.ttf"/>
        <add key="hcsPDFFontBarcode" value="../../../Content/Font/3OF9.ttf"/>
        <add key="hcsHandlerPath" value="../../../Content/Handler/HealthCareService/HCSHandler.ashx" />
        <add key="sexCookieName" value="StudentExchangeCookie" />
        <add key="FinService.Finservice" value="https://smartedu.mahidol.ac.th/FinService/Finservice.asmx"/>
        <add key="NStudentService.StudentService" value="http://www.student.mahidol.ac.th/Infinity/InfoService/Module/Student/StudentService.asmx"/>
    </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.aspx"/>
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web.extensions>
        <scripting>
            <webServices>
                <jsonSerialization maxJsonLength="50000000"/>
            </webServices>
        </scripting>
    </system.web.extensions>
</configuration>