USE [Infinity]
GO
/****** Object:  UserDefinedFunction [dbo].[fnc_perGetAddressParent]    Script Date: 11/17/2015 08:26:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: <ยุทธภูมิ ตวันนา>
-- Create date	: <๑๕/๐๑/๒๕๕๗>
-- Description	: <สำหรับแสดงข้อมูลที่อยู่ของครอบครัว>
--  1. personId	เป็น VARCHAR	รับค่ารหัสบุคคล
-- =============================================
ALTER FUNCTION [dbo].[fnc_perGetAddressParent]
(	
	@personId VARCHAR(10) = NULL
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT	perps.id,
			perps.idCard,
			perps.perTitlePrefixId, 
			perps.thTitleFullName,
			perps.thTitleInitials,
			perps.thDescription,
			perps.enTitleFullName, 
			perps.enTitleInitials,
			perps.enDescription,
			perps.firstName,
			perps.middleName, 
			perps.lastName,
			perps.enFirstName,
			perps.enMiddleName,
			perps.enLastName, 
			perpr.perPersonIdFather,
			peradfather.thAddressTypePermanent AS thAddressTypePermanentFather,
			peradfather.enAddressTypePermanent AS enAddressTypePermanentFather,
			peradfather.plcCountryIdPermanent AS plcCountryIdPermanentFather, 
			peradfather.thCountryNamePermanent AS thCountryNamePermanentFather,
			peradfather.enCountryNamePermanent AS enCountryNamePermanentFather,
			peradfather.isoCountryCodes2LetterPermanent AS isoCountryCodes2LetterPermanentFather,
			peradfather.isoCountryCodes3LetterPermanent AS isoCountryCodes3LetterPermanentFather,
			peradfather.villagePermanent AS villagePermanentFather,
			peradfather.noPermanent AS noPermanentFather, 
			peradfather.mooPermanent AS mooPermanentFather,
			peradfather.soiPermanent AS soiPermanentFather,
			peradfather.roadPermanent AS roadPermanentFather,			
			peradfather.plcSubdistrictIdPermanent AS plcSubdistrictIdPermanentFather,			
			peradfather.thSubdistrictNamePermanent AS thSubdistrictNamePermanentFather,
			peradfather.enSubdistrictNamePermanent AS enSubdistrictNamePermanentFather,
			peradfather.plcDistrictIdPermanent AS plcDistrictIdPermanentFather,
			peradfather.thDistrictNamePermanent AS thDistrictNamePermanentFather,
			peradfather.enDistrictNamePermanent AS enDistrictNamePermanentFather,			
			peradfather.zipCodeDistrictPermanent AS zipCodeDistrictPermanentFather,
			peradfather.plcProvinceIdPermanent AS plcProvinceIdPermanentFather,
			peradfather.thPlaceNamePermanent AS thPlaceNamePermanentFather, 
			peradfather.enPlaceNamePermanent AS enPlaceNamePermanentFather,
			peradfather.zipCodePermanent AS zipCodePermanentFather,
			peradfather.phoneNumberPermanent AS phoneNumberPermanentFather,
			peradfather.mobileNumberPermanent AS mobileNumberPermanentFather,
			peradfather.faxNumberPermanent AS faxNumberPermanentFather,			
			peradfather.thAddressTypeCurrent AS thAddressTypeCurrentFather,
			peradfather.enAddressTypeCurrent AS enAddressTypeCurrentFather,
			peradfather.plcCountryIdCurrent AS plcCountryIdCurrentFather, 
			peradfather.thCountryNameCurrent AS thCountryNameCurrentFather,
			peradfather.enCountryNameCurrent AS enCountryNameCurrentFather,
			peradfather.isoCountryCodes2LetterCurrent AS isoCountryCodes2LetterCurrentFather,
			peradfather.isoCountryCodes3LetterCurrent AS isoCountryCodes3LetterCurrentFather,
			peradfather.villageCurrent AS villageCurrentFather,
			peradfather.noCurrent AS noCurrentFather, 
			peradfather.mooCurrent AS mooCurrentFather,
			peradfather.soiCurrent AS soiCurrentFather,
			peradfather.roadCurrent AS roadCurrentFather,
			peradfather.plcSubdistrictIdCurrent AS plcSubdistrictIdCurrentFather,
			peradfather.thSubdistrictNameCurrent AS thSubdistrictNameCurrentFather,
			peradfather.enSubdistrictNameCurrent AS enSubdistrictNameCurrentFather,
			peradfather.plcDistrictIdCurrent AS plcDistrictIdCurrentFather,
			peradfather.thDistrictNameCurrent AS thDistrictNameCurrentFather,
			peradfather.enDistrictNameCurrent AS enDistrictNameCurrentFather,			
			peradfather.zipCodeDistrictCurrent AS zipCodeDistrictCurrentFather,
			peradfather.plcProvinceIdCurrent AS plcProvinceIdCurrentFather,
			peradfather.thPlaceNameCurrent AS thPlaceNameCurrentFather, 
			peradfather.enPlaceNameCurrent AS enPlaceNameCurrentFather,
			peradfather.zipCodeCurrent AS zipCodeCurrentFather,
			peradfather.phoneNumberCurrent AS phoneNumberCurrentFather,
			peradfather.mobileNumberCurrent AS mobileNumberCurrentFather,
			peradfather.faxNumberCurrent AS faxNumberCurrentFather,						
			perpr.perPersonIdMother,
			peradmother.thAddressTypePermanent AS thAddressTypePermanentMother,
			peradmother.enAddressTypePermanent AS enAddressTypePermanentMother,
			peradmother.plcCountryIdPermanent AS plcCountryIdPermanentMother, 
			peradmother.thCountryNamePermanent AS thCountryNamePermanentMother,
			peradmother.enCountryNamePermanent AS enCountryNamePermanentMother,
			peradmother.isoCountryCodes2LetterPermanent AS isoCountryCodes2LetterPermanentMother,
			peradmother.isoCountryCodes3LetterPermanent AS isoCountryCodes3LetterPermanentMother,
			peradmother.villagePermanent AS villagePermanentMother,
			peradmother.noPermanent AS noPermanentMother, 
			peradmother.mooPermanent AS mooPermanentMother,
			peradmother.soiPermanent AS soiPermanentMother,
			peradmother.roadPermanent AS roadPermanentMother,
			peradmother.plcSubdistrictIdPermanent AS plcSubdistrictIdPermanentMother,
			peradmother.thSubdistrictNamePermanent AS thSubdistrictNamePermanentMother,
			peradmother.enSubdistrictNamePermanent AS enSubdistrictNamePermanentMother,
			peradmother.plcDistrictIdPermanent AS plcDistrictIdPermanentMother,
			peradmother.thDistrictNamePermanent AS thDistrictNamePermanentMother,
			peradmother.enDistrictNamePermanent AS enDistrictNamePermanentMother,
			peradmother.zipCodeDistrictPermanent AS zipCodeDistrictPermanentMother,
			peradmother.plcProvinceIdPermanent AS plcProvinceIdPermanentMother,
			peradmother.thPlaceNamePermanent AS thPlaceNamePermanentMother, 
			peradmother.enPlaceNamePermanent AS enPlaceNamePermanentMother,
			peradmother.zipCodePermanent AS zipCodePermanentMother,
			peradmother.phoneNumberPermanent AS phoneNumberPermanentMother,
			peradmother.mobileNumberPermanent AS mobileNumberPermanentMother,
			peradmother.faxNumberPermanent AS faxNumberPermanentMother,			
			peradmother.thAddressTypeCurrent AS thAddressTypeCurrentMother,
			peradmother.enAddressTypeCurrent AS enAddressTypeCurrentMother,
			peradmother.plcCountryIdCurrent AS plcCountryIdCurrentMother, 
			peradmother.thCountryNameCurrent AS thCountryNameCurrentMother,
			peradmother.enCountryNameCurrent AS enCountryNameCurrentMother,
			peradmother.isoCountryCodes2LetterCurrent AS isoCountryCodes2LetterCurrentMother,
			peradmother.isoCountryCodes3LetterCurrent AS isoCountryCodes3LetterCurrentMother,
			peradmother.villageCurrent AS villageCurrentMother,
			peradmother.noCurrent AS noCurrentMother, 
			peradmother.mooCurrent AS mooCurrentMother,
			peradmother.soiCurrent AS soiCurrentMother,
			peradmother.roadCurrent AS roadCurrentMother,
			peradmother.plcSubdistrictIdCurrent AS plcSubdistrictIdCurrentMother,
			peradmother.thSubdistrictNameCurrent AS thSubdistrictNameCurrentMother,
			peradmother.enSubdistrictNameCurrent AS enSubdistrictNameCurrentMother,
			peradmother.plcDistrictIdCurrent AS plcDistrictIdCurrentMother,
			peradmother.thDistrictNameCurrent AS thDistrictNameCurrentMother,
			peradmother.enDistrictNameCurrent AS enDistrictNameCurrentMother,
			peradmother.zipCodeDistrictCurrent AS zipCodeDistrictCurrentMother,
			peradmother.plcProvinceIdCurrent AS plcProvinceIdCurrentMother,
			peradmother.thPlaceNameCurrent AS thPlaceNameCurrentMother, 
			peradmother.enPlaceNameCurrent AS enPlaceNameCurrentMother,
			peradmother.zipCodeCurrent AS zipCodeCurrentMother,
			peradmother.phoneNumberCurrent AS phoneNumberCurrentMother,
			peradmother.mobileNumberCurrent AS mobileNumberCurrentMother,
			peradmother.faxNumberCurrent AS faxNumberCurrentMother,				
			perpr.perPersonIdParent,
			peradparent.thAddressTypePermanent AS thAddressTypePermanentParent,
			peradparent.enAddressTypePermanent AS enAddressTypePermanentParent,
			peradparent.plcCountryIdPermanent AS plcCountryIdPermanentParent, 
			peradparent.thCountryNamePermanent AS thCountryNamePermanentParent,
			peradparent.enCountryNamePermanent AS enCountryNamePermanentParent,
			peradparent.isoCountryCodes2LetterPermanent AS isoCountryCodes2LetterPermanentParent,
			peradparent.isoCountryCodes3LetterPermanent AS isoCountryCodes3LetterPermanentParent,
			peradparent.villagePermanent AS villagePermanentParent,
			peradparent.noPermanent AS noPermanentParent, 
			peradparent.mooPermanent AS mooPermanentParent,
			peradparent.soiPermanent AS soiPermanentParent,
			peradparent.roadPermanent AS roadPermanentParent,
			peradparent.plcSubdistrictIdPermanent AS plcSubdistrictIdPermanentParent,
			peradparent.thSubdistrictNamePermanent AS thSubdistrictNamePermanentParent,
			peradparent.enSubdistrictNamePermanent AS enSubdistrictNamePermanentParent,
			peradparent.plcDistrictIdPermanent AS plcDistrictIdPermanentParent,
			peradparent.thDistrictNamePermanent AS thDistrictNamePermanentParent,
			peradparent.enDistrictNamePermanent AS enDistrictNamePermanentParent,
			peradparent.zipCodeDistrictPermanent AS zipCodeDistrictPermanentParent,
			peradparent.plcProvinceIdPermanent AS plcProvinceIdPermanentParent,
			peradparent.thPlaceNamePermanent AS thPlaceNamePermanentParent, 
			peradparent.enPlaceNamePermanent AS enPlaceNamePermanentParent,
			peradparent.zipCodePermanent AS zipCodePermanentParent,
			peradparent.phoneNumberPermanent AS phoneNumberPermanentParent,
			peradparent.mobileNumberPermanent AS mobileNumberPermanentParent,
			peradparent.faxNumberPermanent AS faxNumberPermanentParent,			
			peradparent.thAddressTypeCurrent AS thAddressTypeCurrentParent,
			peradparent.enAddressTypeCurrent AS enAddressTypeCurrentParent,
			peradparent.plcCountryIdCurrent AS plcCountryIdCurrentParent, 
			peradparent.thCountryNameCurrent AS thCountryNameCurrentParent,
			peradparent.enCountryNameCurrent AS enCountryNameCurrentParent,
			peradparent.isoCountryCodes2LetterCurrent AS isoCountryCodes2LetterCurrentParent,
			peradparent.isoCountryCodes3LetterCurrent AS isoCountryCodes3LetterCurrentParent,
			peradparent.villageCurrent AS villageCurrentParent,
			peradparent.noCurrent AS noCurrentParent, 
			peradparent.mooCurrent AS mooCurrentParent,
			peradparent.soiCurrent AS soiCurrentParent,
			peradparent.roadCurrent AS roadCurrentParent,			
			peradparent.plcSubdistrictIdCurrent AS plcSubdistrictIdCurrentParent,
			peradparent.thSubdistrictNameCurrent AS thSubdistrictNameCurrentParent,
			peradparent.enSubdistrictNameCurrent AS enSubdistrictNameCurrentParent,
			peradparent.plcDistrictIdCurrent AS plcDistrictIdCurrentParent,
			peradparent.thDistrictNameCurrent AS thDistrictNameCurrentParent,
			peradparent.enDistrictNameCurrent AS enDistrictNameCurrentParent,
			peradparent.zipCodeDistrictCurrent AS zipCodeDistrictCurrentParent,
			peradparent.plcProvinceIdCurrent AS plcProvinceIdCurrentParent,
			peradparent.thPlaceNameCurrent AS thPlaceNameCurrentParent, 
			peradparent.enPlaceNameCurrent AS enPlaceNameCurrentParent,
			peradparent.zipCodeCurrent AS zipCodeCurrentParent,
			peradparent.phoneNumberCurrent AS phoneNumberCurrentParent,
			peradparent.mobileNumberCurrent AS mobileNumberCurrentParent,
			peradparent.faxNumberCurrent AS faxNumberCurrentParent,				
			perpr.createDate,
			perpr.createBy,
			perpr.createIp, 
			perpr.modifyDate,
			perpr.modifyBy,
			perpr.modifyIp
	FROM	fnc_perGetPerson(@personId) AS perps LEFT JOIN
			perParent AS perpr ON perps.id = perpr.perPersonId LEFT JOIN
			fnc_perGetAddress((SELECT perPersonIdFather FROM perParent WHERE perPersonId = @personId)) AS peradfather ON perpr.perPersonIdFather = peradfather.id LEFT JOIN
			fnc_perGetAddress((SELECT perPersonIdMother FROM perParent WHERE perPersonId = @personId)) AS peradmother ON perpr.perPersonIdMother = peradmother.id LEFT JOIN
			fnc_perGetAddress((SELECT perPersonIdParent FROM perParent WHERE perPersonId = @personId)) AS peradparent ON perpr.perPersonIdParent = peradparent.id
)
