USE [Infinity]
GO
/****** Object:  UserDefinedFunction [dbo].[fnc_perGetPersonParent]    Script Date: 12/14/2015 08:49:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: <ยุทธภูมิ ตวันนา>
-- Create date	: <๑๘/๐๖/๒๕๕๘>
-- Description	: <สำหรับแสดงข้อมูลส่วนตัวของครอบครัว>
--  1. personId	เป็น VARCHAR	รับค่ารหัสบุคคล
-- =============================================
ALTER FUNCTION [dbo].[fnc_perGetPersonParent]
(	
	@personId VARCHAR(10) = NULL
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT	perps.id,
			perps.idCard,
			perps.perTitlePrefixId, 
			perps.thTitleFullName,
			perps.thTitleInitials,
			perps.thDescription,
			perps.enTitleFullName, 
			perps.enTitleInitials,
			perps.enDescription,
			perps.firstName,
			perps.middleName, 
			perps.lastName,
			perps.enFirstName,
			perps.enMiddleName,
			perps.enLastName, 
			perpr.perPersonIdFather,
			perpsfather.idCard AS idCardFather,
			perpsfather.perTitlePrefixId AS perTitlePrefixIdFather,
			perpsfather.perTitlePrefixIdOld AS perTitlePrefixIdOldFather,
			perpsfather.thTitleFullName AS thTitleFullNameFather, 
			perpsfather.thTitleInitials AS thTitleInitialsFather,
			perpsfather.thDescription AS thDescriptionFather,
			perpsfather.enTitleFullName AS enTitleFullNameFather, 
			perpsfather.enTitleInitials AS enTitleInitialsFather,
			perpsfather.enDescription AS enDescriptionFather,
			perpsfather.perGenderIdTitlePrefix AS perGenderIdTitlePrefixFather,
			perpsfather.thGenderFullNameTitlePrefix AS thGenderFullNameTitlePrefixFather,
			perpsfather.thGenderInitialsTitlePrefix AS thGenderInitialsTitlePrefixFather,
			perpsfather.enGenderFullNameTitlePrefix AS enGenderFullNameTitlePrefixFather,
			perpsfather.enGenderInitialsTitlePrefix AS enGenderInitialsTitlePrefixFather,			
			perpsfather.firstName AS firstNameFather, 
			perpsfather.middleName AS middleNameFather,
			perpsfather.lastName AS lastNameFather,
			perpsfather.enFirstName AS enFirstNameFather, 
			perpsfather.enMiddleName AS enMiddleNameFather,
			perpsfather.enLastName AS enLastNameFather,
			perpsfather.perGenderId AS perGenderIdFather,
			perpsfather.thGenderFullName AS thGenderFullNameFather,
			perpsfather.thGenderInitials AS thGenderInitialsFather,
			perpsfather.enGenderFullName AS enGenderFullNameFather,
			perpsfather.enGenderInitials AS enGenderInitialsFather,
			perpsfather.alive AS aliveFather,
			perpsfather.thAlive AS thAliveFather,		
			perpsfather.enAlive AS enAliveFather,
			perpsfather.thBirthDate AS thBirthDateFather,
			perpsfather.enBirthDate AS enBirthDateFather,
			perpsfather.age AS ageFather,
			perpsfather.plcCountryId AS plcCountryIdFather, 
			perpsfather.countryNameTH AS thCountryNameFather,
			perpsfather.countryNameEN AS enCountryNameFather,
			perpsfather.isoCountryCodes2Letter AS isoCountryCodes2LetterFather,
			perpsfather.isoCountryCodes3Letter AS isoCountryCodes3LetterFather,
			perpsfather.perNationalityId AS perNationalityIdFather, 
			perpsfather.thNationalityName AS thNationalityNameFather,
			perpsfather.enNationalityName AS enNationalityNameFather,
			perpsfather.isoNationalityName2Letter AS isoNationalityName2LetterFather,
			perpsfather.isoNationalityName3Letter AS isoNationalityName3LetterFather,
			perpsfather.perOriginId AS perOriginIdFather,
			perpsfather.thOriginName AS thOriginNameFather,
			perpsfather.enOriginName AS enOriginNameFather,
			perpsfather.isoOriginName2Letter AS isoOriginName2LetterFather,
			perpsfather.isoOriginName3Letter AS isoOriginName3LetterFather,
			perpsfather.perReligionId AS perReligionIdFather,
			perpsfather.thReligionName AS thReligionNameFather,
			perpsfather.enReligionName AS enReligionNameFather,
			perpsfather.perBloodTypeId AS perBloodTypeIdFather,
			perpsfather.thBloodTypeName AS thBloodTypeNameFather,
			perpsfather.enBloodTypeName AS enBloodTypeNameFather,
			perpsfather.perMaritalStatusId AS perMaritalStatusIdFather,
			perpsfather.thMaritalStatusName AS thMaritalStatusNameFather,
			perpsfather.enMaritalStatusName AS enMaritalStatusNameFather,
			perpsfather.perEducationalBackgroundId AS perEducationalBackgroundIdFather,
			perpsfather.thEducationalBackgroundName AS thEducationalBackgroundNameFather,
			perpsfather.enEducationalBackgroundName AS enEducationalBackgroundNameFather,
			perpsfather.email AS emailFather,
			perpr.perPersonIdMother, 
			perpsmother.idCard AS idCardMother,
			perpsmother.perTitlePrefixId AS perTitlePrefixIdMother,
			perpsmother.perTitlePrefixIdOld AS perTitlePrefixIdOldMother,
			perpsmother.thTitleFullName AS thTitleFullNameMother, 
			perpsmother.thTitleInitials AS thTitleInitialsMother,
			perpsmother.thDescription AS thDescriptionMother,
			perpsmother.enTitleFullName AS enTitleFullNameMother, 
			perpsmother.enTitleInitials AS enTitleInitialsMother,
			perpsmother.enDescription AS enDescriptionMother,
			perpsmother.perGenderIdTitlePrefix AS perGenderIdTitlePrefixMother,
			perpsmother.thGenderFullNameTitlePrefix AS thGenderFullNameTitlePrefixMother,
			perpsmother.thGenderInitialsTitlePrefix AS thGenderInitialsTitlePrefixMother,
			perpsmother.enGenderFullNameTitlePrefix AS enGenderFullNameTitlePrefixMother,
			perpsmother.enGenderInitialsTitlePrefix AS enGenderInitialsTitlePrefixMother,			
			perpsmother.firstName AS firstNameMother, 
			perpsmother.middleName AS middleNameMother,
			perpsmother.lastName AS lastNameMother,
			perpsmother.enFirstName AS enFirstNameMother, 
			perpsmother.enMiddleName AS enMiddleNameMother,
			perpsmother.enLastName AS enLastNameMother,
			perpsmother.perGenderId AS perGenderIdMother,
			perpsmother.thGenderFullName AS thGenderFullNameMother,
			perpsmother.thGenderInitials AS thGenderInitialsMother,
			perpsmother.enGenderFullName AS enGenderFullNameMother,
			perpsmother.enGenderInitials AS enGenderInitialsMother,			
			perpsmother.alive AS aliveMother,
			perpsmother.thAlive AS thAliveMother,
			perpsmother.enAlive AS enAliveMother,
			perpsmother.thBirthDate AS thBirthDateMother,
			perpsmother.enBirthDate AS enBirthDateMother,
			perpsmother.age AS ageMother,
			perpsmother.plcCountryId AS plcCountryIdMother, 
			perpsmother.countryNameTH AS thCountryNameMother,
			perpsmother.countryNameEN AS enCountryNameMother,
			perpsmother.isoCountryCodes2Letter AS isoCountryCodes2LetterMother,
			perpsmother.isoCountryCodes3Letter AS isoCountryCodes3LetterMother,
			perpsmother.perNationalityId AS perNationalityIdMother, 
			perpsmother.thNationalityName AS thNationalityNameMother,
			perpsmother.enNationalityName AS enNationalityNameMother,
			perpsmother.isoNationalityName2Letter AS isoNationalityName2LetterMother,
			perpsmother.isoNationalityName3Letter AS isoNationalityName3LetterMother,
			perpsmother.perOriginId AS perOriginIdMother,
			perpsmother.thOriginName AS thOriginNameMother,
			perpsmother.enOriginName AS enOriginNameMother,
			perpsmother.isoOriginName2Letter AS isoOriginName2LetterMother,
			perpsmother.isoOriginName3Letter AS isoOriginName3LetterMother,
			perpsmother.perReligionId AS perReligionIdMother,
			perpsmother.thReligionName AS thReligionNameMother,
			perpsmother.enReligionName AS enReligionNameMother,
			perpsmother.perBloodTypeId AS perBloodTypeIdMother,
			perpsmother.thBloodTypeName AS thBloodTypeNameMother,
			perpsmother.enBloodTypeName AS enBloodTypeNameMother,
			perpsmother.perMaritalStatusId AS perMaritalStatusIdMother,
			perpsmother.thMaritalStatusName AS thMaritalStatusNameMother,
			perpsmother.enMaritalStatusName AS enMaritalStatusNameMother,
			perpsmother.perEducationalBackgroundId AS perEducationalBackgroundIdMother,
			perpsmother.thEducationalBackgroundName AS thEducationalBackgroundNameMother,
			perpsmother.enEducationalBackgroundName AS enEducationalBackgroundNameMother,				
			perpsmother.email AS emailMother,
			perpr.perPersonIdParent, 
			perpsparent.idCard AS idCardParent,
			perpsparent.perTitlePrefixId AS perTitlePrefixIdParent,
			perpsparent.perTitlePrefixIdOld AS perTitlePrefixIdOldParent,
			perpsparent.thTitleFullName AS thTitleFullNameParent, 
			perpsparent.thTitleInitials AS thTitleInitialsParent,
			perpsparent.thDescription AS thDescriptionParent,
			perpsparent.enTitleFullName AS enTitleFullNameParent, 
			perpsparent.enTitleInitials AS enTitleInitialsParent,
			perpsparent.enDescription AS enDescriptionParent,
			perpsparent.perGenderIdTitlePrefix AS perGenderIdTitlePrefixParent,
			perpsparent.thGenderFullNameTitlePrefix AS thGenderFullNameTitlePrefixParent,
			perpsparent.thGenderInitialsTitlePrefix AS thGenderInitialsTitlePrefixParent,
			perpsparent.enGenderFullNameTitlePrefix AS enGenderFullNameTitlePrefixParent,
			perpsparent.enGenderInitialsTitlePrefix AS enGenderInitialsTitlePrefixParent,
			perpsparent.firstName AS firstNameParent, 
			perpsparent.middleName AS middleNameParent,
			perpsparent.lastName AS lastNameParent,
			perpsparent.enFirstName AS enFirstNameParent, 
			perpsparent.enMiddleName AS enMiddleNameParent,
			perpsparent.enLastName AS enLastNameParent,	
			perpsparent.perGenderId AS perGenderIdParent,
			perpsparent.thGenderFullName AS thGenderFullNameParent,
			perpsparent.thGenderInitials AS thGenderInitialsParent,
			perpsparent.enGenderFullName AS enGenderFullNameParent,
			perpsparent.enGenderInitials AS enGenderInitialsParent,				
			perpsparent.alive AS aliveParent,
			perpsparent.thAlive AS thAliveParent,
			perpsparent.enAlive AS enAliveParent,
			perpsparent.thBirthDate AS thBirthDateParent,
			perpsparent.enBirthDate AS enBirthDateParent,
			perpsparent.age AS ageParent,
			perpsparent.plcCountryId AS plcCountryIdParent, 
			perpsparent.countryNameTH AS thCountryNameParent,
			perpsparent.countryNameEN AS enCountryNameParent,
			perpsparent.isoCountryCodes2Letter AS isoCountryCodes2LetterParent,
			perpsparent.isoCountryCodes3Letter AS isoCountryCodes3LetterParent,
			perpsparent.perNationalityId AS perNationalityIdParent, 
			perpsparent.thNationalityName AS thNationalityNameParent,
			perpsparent.enNationalityName AS enNationalityNameParent,
			perpsparent.isoNationalityName2Letter AS isoNationalityName2LetterParent,
			perpsparent.isoNationalityName3Letter AS isoNationalityName3LetterParent,
			perpsparent.perOriginId AS perOriginIdParent,
			perpsparent.thOriginName AS thOriginNameParent,
			perpsparent.enOriginName AS enOriginNameParent,
			perpsparent.isoOriginName2Letter AS isoOriginName2LetterParent,
			perpsparent.isoOriginName3Letter AS isoOriginName3LetterParent,
			perpsparent.perReligionId AS perReligionIdParent,
			perpsparent.thReligionName AS thReligionNameParent,
			perpsparent.enReligionName AS enReligionNameParent,
			perpsparent.perBloodTypeId AS perBloodTypeIdParent,
			perpsparent.thBloodTypeName AS thBloodTypeNameParent,
			perpsparent.enBloodTypeName AS enBloodTypeNameParent,
			perpsparent.perMaritalStatusId AS perMaritalStatusIdParent,
			perpsparent.thMaritalStatusName AS thMaritalStatusNameParent,
			perpsparent.enMaritalStatusName AS enMaritalStatusNameParent,
			perpsparent.perEducationalBackgroundId AS perEducationalBackgroundIdParent,
			perpsparent.thEducationalBackgroundName AS thEducationalBackgroundNameParent,
			perpsparent.enEducationalBackgroundName AS enEducationalBackgroundNameParent,
			perpsparent.email AS emailParent,
			perpr.perRelationshipId, 
			perrs.relationshipNameTH,
			perrs.relationshipNameEN,
			perrs.perGenderId AS perGenderIdRelationship,
			perpr.createDate,
			perpr.createBy,
			perpr.createIp, 
			perpr.modifyDate,
			perpr.modifyBy,
			perpr.modifyIp
	FROM	fnc_perGetPerson(@personId) AS perps LEFT JOIN
			perParent AS perpr ON perps.id = perpr.perPersonId LEFT JOIN
			fnc_perGetPerson((SELECT perPersonIdFather FROM perParent WHERE perPersonId = @personId)) AS perpsfather ON perpr.perPersonIdFather = perpsfather.id LEFT JOIN
			fnc_perGetPerson((SELECT perPersonIdMother FROM perParent WHERE perPersonId = @personId)) AS perpsmother ON perpr.perPersonIdMother = perpsmother.id LEFT JOIN
			fnc_perGetPerson((SELECT perPersonIdParent FROM perParent WHERE perPersonId = @personId)) AS perpsparent ON perpr.perPersonIdParent = perpsparent.id LEFT JOIN
			perRelationship AS perrs ON perpr.perRelationshipId = perrs.id
)
