USE [Infinity]
GO
/****** Object:  StoredProcedure [dbo].[sp_hcsGetPersonStudent]    Script Date: 06-01-2017 10:10:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: <ยุทธภูมิ ตวันนา>
-- Create date	: <๑๘/๐๖/๒๕๕๘>
-- Description	: <สำหรับเรียกดูข้อมูลของนักศึกษาสำหรับระบบขึ้นทะเบียนสิทธิรักษาพยาบาลของนักศึกษา>
-- Parameter
--  1. personId	เป็น VARCHAR	รับค่ารหัสบุคคล
-- =============================================
ALTER PROCEDURE [dbo].[sp_hcsGetPersonStudent]
(
	@userType VARCHAR(10) = NULL,
	@personId VARCHAR(10) = NULL
)
AS
BEGIN
	SET NOCOUNT ON
	
	SET @personId = LTRIM(RTRIM(@personId))
		
	SELECT	(hcshpt.cancel + hcsagc.cancelledStatus),
			stdstd.id,
			stdstd.studentId,
			stdstd.studentCode,
			stdstd.idCard,
			stdstd.thTitleFullName AS titlePrefixFullNameTH,
			stdstd.thTitleInitials AS titlePrefixInitialsTH,					
			stdstd.enTitleFullName AS titlePrefixFullNameEN,
			stdstd.enTitleInitials AS titlePrefixInitialsEN,
			stdstd.firstName,
			stdstd.middleName,
			stdstd.lastName,
			stdstd.enFirstName AS firstNameEN,
			stdstd.enMiddleName AS middleNameEN,
			stdstd.enLastName AS lastNameEN,
			stdstd.thGenderFullName AS genderFullNameTH,
			stdstd.thGenderInitials AS genderInitialsTH,
			stdstd.enGenderFullName AS genderFullNameEN,
			stdstd.enGenderInitials AS genderInitialsEN,
			stdstd.birthDate,
			ISNULL(DAY(stdstd.birthDate), NULL) AS birthDateOfDay,
			ISNULL(MONTH(stdstd.birthDate), NULL) AS birthDateOfMonth,
			(CASE WHEN ISNULL(YEAR(stdstd.birthDate), NULL) IS NOT NULL THEN (YEAR(stdstd.birthDate) + 543) ELSE NULL END) AS birthDateOfYear,
			stdstd.thBirthDate AS birthDateTH,
			stdstd.enBirthDate AS birthDateEN,
			stdstd.age,
			stdstd.degree,
			stdstd.degreeLevelNameTH,
			stdstd.degreeLevelNameEN,
			stdstd.facultyCode,
			stdstd.facultyNameTH,
			stdstd.facultyNameEN,
			stdstd.programCode,
			stdstd.programNameTH,
			stdstd.programNameEN,
			stdstd.programAddress,
			stdstd.programTelephone,
			stdstd.majorCode,
			stdstd.groupNum,
			stdstd.yearEntry,
			stdstd.perEntranceTypeId,
			stdstd.stdEntranceTypeNameTH,
			stdstd.stdStatusTypeId,
			stdstd.statusTypeNameTH,
			(CASE WHEN (hcsagc.acaProgramId IS NOT NULL) THEN 'Y' ELSE 'N' END) AS hcsJoin,
			hcsagc.hcsHospitalId,
			hcshpt.thHospitalName AS hospitalNameTH,
			hcshpt.enHospitalName AS hospitalNameEN,
			stdper.perNationalityId, 
			stdper.thNationalityName AS nationalityNameTH,
			stdper.enNationalityName AS nationalityNameEN,			
			stdper.perOriginId,
			stdper.thOriginName AS originNameTH,
			stdper.enOriginName AS originNameEN,			
			stdper.perReligionId,
			stdper.thReligionName AS religionNameTH,
			stdper.enReligionName AS religionNameEN,
			stdper.perBloodTypeId,
			stdper.thBloodTypeName AS bloodTypeNameTH,
			stdper.enBloodTypeName AS bloodTypeNameEN,
		 	stdper.perMaritalStatusId,
			stdper.thMaritalStatusName AS maritalStatusNameTH,
			stdper.enMaritalStatusName AS maritalStatusNameEN,			
			stdper.perEducationalBackgroundId,
			stdper.thEducationalBackgroundName AS educationalBackgroundNameTH,
			stdper.enEducationalBackgroundName AS educationalBackgroundNameEN,						
			stdper.email,
			stdper.childhoodNumber,
			stdadd.thCountryNamePermanent AS countryNameTHPermanent,
			stdadd.enCountryNamePermanent AS countryNameENPermanent,
			stdadd.thPlaceNamePermanent AS provinceNameTHPermanent,
			stdadd.enPlaceNamePermanent AS provinceNameENPermanent,
			stdadd.thDistrictNamePermanent AS districtNameTHPermanent,
			stdadd.enDistrictNamePermanent AS districtNameENPermanent,
			stdadd.thSubdistrictNamePermanent AS subdistrictNameTHPermanent,
			stdadd.enSubdistrictNamePermanent AS subdistrictNameENPermanent,
			stdadd.zipCodePermanent,
			stdadd.villagePermanent,
			stdadd.noPermanent,
			stdadd.mooPermanent,
			stdadd.soiPermanent,
			stdadd.roadPermanent,
			stdadd.phoneNumberPermanent,
			stdadd.mobileNumberPermanent,
			stdadd.faxNumberPermanent,
			stdadd.thCountryNameCurrent AS countryNameTHCurrent,
			stdadd.enCountryNameCurrent AS countryNameENCurrent,
			stdadd.thPlaceNameCurrent AS provinceNameTHCurrent,
			stdadd.enPlaceNameCurrent AS provinceNameENCurrent,
			stdadd.thDistrictNameCurrent AS districtNameTHCurrent,
			stdadd.enDistrictNameCurrent AS districtNameENCurrent,
			stdadd.thSubdistrictNameCurrent AS subdistrictNameTHCurrent,
			stdadd.enSubdistrictNameCurrent AS subdistrictNameENCurrent,
			stdadd.zipCodeCurrent,
			stdadd.villageCurrent,
			stdadd.noCurrent,
			stdadd.mooCurrent,
			stdadd.soiCurrent,
			stdadd.roadCurrent,
			stdadd.phoneNumberCurrent,
			stdadd.mobileNumberCurrent,
			stdadd.faxNumberCurrent,
			stdhel.bodyMassDetail,
			stdhel.intolerance,		
			stdhel.intoleranceDetail,					
			stdhel.diseases,
			stdhel.diseasesDetail,		
			stdhel.ailHistoryFamily,			
			stdhel.ailHistoryFamilyDetail,				
			stdhel.travelAbroad,	
			stdhel.travelAbroadDetail,
			stdhel.impairments,
			stdhel.perImpairmentsId,
			stdhel.impairmentsNameTH,
			stdhel.impairmentsNameEN,
			stdhel.impairmentsEquipment,
			stdfin.worked AS workedStatus,
			stdfin.thWorked AS workedStatusNameTH,
			stdfin.enWorked AS workedStatusNameEN,
			stdstd.folderPictureName,
			stdstd.profilePictureName,
			stdpsparent.thTitleFullNameFather AS titlePrefixFullNameTHFather, 
			stdpsparent.thTitleInitialsFather AS titlePrefixInitialsTHFather,
			stdpsparent.enTitleFullNameFather AS titlePrefixFullNameENFather, 
			stdpsparent.enTitleInitialsFather AS titlePrefixInitialsENFather,
			stdpsparent.firstNameFather, 
			stdpsparent.middleNameFather,
			stdpsparent.lastNameFather,
			stdpsparent.enFirstNameFather AS firstNameENFather, 
			stdpsparent.enMiddleNameFather AS middleNameENFather,
			stdpsparent.enLastNameFather AS lastNameENFather,
			stdpsparent.aliveFather,
			stdpsparent.emailFather,
			stdadparent.mobileNumberCurrentFather,
			stdpsparent.thTitleFullNameMother AS titlePrefixFullNameTHMother, 
			stdpsparent.thTitleInitialsMother AS titlePrefixInitialsTHMother,
			stdpsparent.enTitleFullNameMother AS titlePrefixFullNameENMother, 
			stdpsparent.enTitleInitialsMother AS titlePrefixInitialsENMother,
			stdpsparent.firstNameMother, 
			stdpsparent.middleNameMother,
			stdpsparent.lastNameMother,
			stdpsparent.enFirstNameMother AS firstNameENMother, 
			stdpsparent.enMiddleNameMother AS middleNameENMother,
			stdpsparent.enLastNameMother AS lastNameENMother,	
			stdpsparent.aliveMother,
			stdpsparent.emailMother,	
			stdadparent.mobileNumberCurrentMother,
			stdpsparent.perRelationshipId, 
			stdpsparent.relationshipNameTH,
			stdpsparent.relationshipNameEN,			
			stdpsparent.thTitleFullNameParent AS titlePrefixFullNameTHParent, 
			stdpsparent.thTitleInitialsParent AS titlePrefixInitialsTHParent,
			stdpsparent.enTitleFullNameParent AS titlePrefixFullNameENParent, 
			stdpsparent.enTitleInitialsParent AS titlePrefixInitialsENParent,
			stdpsparent.firstNameParent, 
			stdpsparent.middleNameParent,
			stdpsparent.lastNameParent,
			stdpsparent.enFirstNameParent AS firstNameENParent, 
			stdpsparent.enMiddleNameParent AS middleNameENParent,
			stdpsparent.enLastNameParent AS lastNameENParent,			
			stdpsparent.emailParent,
			stdadparent.thCountryNameCurrentParent AS countryNameTHCurrentParent,
			stdadparent.enCountryNameCurrentParent AS countryNameENCurrentParent,
			stdadparent.villageCurrentParent,
			stdadparent.noCurrentParent, 
			stdadparent.mooCurrentParent,
			stdadparent.soiCurrentParent,
			stdadparent.roadCurrentParent,			
			stdadparent.thPlaceNameCurrentParent AS provinceNameTHCurrentParent, 
			stdadparent.enPlaceNameCurrentParent AS provinceNameENCurrentParent,			
			stdadparent.thDistrictNameCurrentParent AS districtNameTHCurrentParent,
			stdadparent.enDistrictNameCurrentParent AS districtNameENCurrentParent,
			stdadparent.thSubdistrictNameCurrentParent AS subdistrictNameTHCurrentParent,
			stdadparent.enSubdistrictNameCurrentParent AS subdistrictNameENCurrentParent,			
			stdadparent.zipCodeCurrentParent,
			stdadparent.phoneNumberCurrentParent,
			stdadparent.mobileNumberCurrentParent,
			stdadparent.faxNumberCurrentParent,									
			stdwkparent.occupationFather,
			stdwkparent.thOccupationFather AS occupationNameTHFather,
			stdwkparent.enOccupationFather AS occupationNameENFather, 			
			stdwkparent.occupationMother,
			stdwkparent.thOccupationMother AS occupationNameTHMother,
			stdwkparent.enOccupationMother AS occupationNameENMother,
			stdwkparent.occupationParent,
			stdwkparent.thOccupationParent AS occupationNameTHParent,
			stdwkparent.enOccupationParent AS occupationNameENParent,
			(CASE WHEN ISNULL(perrcn.perPerson, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsPersonalStatus,
			(CASE WHEN ISNULL(perrcn.perAddress, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsAddressStatus,
			(CASE WHEN ISNULL(perrcn.perAddressPermanent, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsAddressPermanentStatus,
			(CASE WHEN ISNULL(perrcn.perAddressCurrent, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsAddressCurrentStatus,
			(CASE WHEN ISNULL(perrcn.perEducation, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsEducationStatus,
			(CASE WHEN ISNULL(perrcn.perEducationPrimarySchool, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsEducationPrimarySchoolStatus,
			(CASE WHEN ISNULL(perrcn.perEducationJuniorHighSchool, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsEducationJuniorHighSchoolStatus,
			(CASE WHEN ISNULL(perrcn.perEducationHighSchool, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsEducationHighSchoolStatus,
			(CASE WHEN ISNULL(perrcn.perEducationUniversity, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsEducationUniversityStatus,
			(CASE WHEN ISNULL(perrcn.perEducationAdmissionScores, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsEducationAdmissionScoresStatus,
			(CASE WHEN ISNULL(perrcn.perActivity, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsTalentStatus,
			(CASE WHEN ISNULL(perrcn.perHealthy, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsHealthyStatus,
			(CASE WHEN ISNULL(perrcn.perWork, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsWorkStatus,
			(CASE WHEN ISNULL(perrcn.perFinancial, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsFinancialStatus,
			(CASE WHEN (CASE WHEN
							(ISNULL(perrcn.perPersonFather, 0) + ISNULL(perrcn.perAddressFather, 0) + ISNULL(perrcn.perWorkFather, 0) +
							 ISNULL(perrcn.perPersonMother, 0) + ISNULL(perrcn.perAddressMother, 0) + ISNULL(perrcn.perWorkMother, 0) +
							 ISNULL(perrcn.perPersonParent, 0) + ISNULL(perrcn.perAddressParent, 0) + ISNULL(perrcn.perWorkParent, 0)) = 9
						THEN
							1
						ELSE
							0
						END) = 1 THEN 'Y' ELSE 'N'END) studentRecordsFamilyStatus,
			
			(CASE WHEN ISNULL(perrcn.perPersonFather, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsFamilyFatherPersonalStatus,
			(CASE WHEN ISNULL(perrcn.perPersonMother, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsFamilyMotherPersonalStatus,
			(CASE WHEN ISNULL(perrcn.perPersonParent, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsFamilyParentPersonalStatus,
			(CASE WHEN ISNULL(perrcn.perAddressFather, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsFamilyFatherAddressFatherStatus,
			(CASE WHEN ISNULL(perrcn.perAddressPermanentFather, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsFamilyFatherAddressPermanentStatus,
			(CASE WHEN ISNULL(perrcn.perAddressCurrentFather, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsFamilyFatherAddressCurrentStatus,
			(CASE WHEN ISNULL(perrcn.perAddressMother, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsFamilyMotherAddressStatus,
			(CASE WHEN ISNULL(perrcn.perAddressPermanentMother, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsFamilyMotherAddressPermanentStatus,
			(CASE WHEN ISNULL(perrcn.perAddressCurrentMother, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsFamilyMotherAddressCurrentStatus,
			(CASE WHEN ISNULL(perrcn.perAddressParent, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsFamilyParentAddressStatus,
			(CASE WHEN ISNULL(perrcn.perAddressPermanentParent, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsFamilyParentAddressPermanentStatus,
			(CASE WHEN ISNULL(perrcn.perAddressCurrentParent, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsFamilyParentAddressCurrentStatus,
			(CASE WHEN ISNULL(perrcn.perWorkFather, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsFamilyFatherWorkStatus,
			(CASE WHEN ISNULL(perrcn.perWorkMother, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsFamilyMotherWorkStatus,
			(CASE WHEN ISNULL(perrcn.perWorkParent, 0) = 1 THEN 'Y' ELSE 'N' END) AS studentRecordsFamilyParentWorkStatus,
			hcswfl.hcsWelfareId,
			hcswel.nameTH AS welfareNameTH,
			hcswel.nameEN AS welfareNameEN,
			hcswel.forPublicServant AS welfareForPublicServant
	FROM	fnc_perGetPersonStudent(@personId) AS stdstd LEFT JOIN			
			hcsAgency AS hcsagc ON (stdstd.yearEntry = hcsagc.yearEntry) AND (stdstd.programId = hcsagc.acaProgramId) LEFT JOIN
			hcsHospital AS hcshpt ON hcsagc.hcsHospitalId = hcshpt.id LEFT JOIN
			fnc_perGetPerson(@personId) AS stdper ON stdstd.id = stdper.id LEFT JOIN
			fnc_perGetAddress(@personId) AS stdadd ON stdstd.id = stdadd.id LEFT JOIN
			fnc_perGetHealthy(@personId) AS stdhel ON stdstd.id = stdhel.id LEFT JOIN
			fnc_perGetFinancial(@personId) AS stdfin ON stdstd.id = stdfin.id LEFT JOIN
			fnc_perGetPersonParent(@personId) AS stdpsparent ON stdstd.id = stdpsparent.id LEFT JOIN
			fnc_perGetAddressParent(@personId) AS stdadparent ON stdstd.id = stdadparent.id LEFT JOIN
			fnc_perGetWorkParent(@personId) AS stdwkparent ON stdstd.id = stdwkparent.id LEFT JOIN
			fnc_perGetListRecordCountPerson(@personId, '') AS perrcn ON stdstd.id = perrcn.id LEFT JOIN
			hcsWelfareLog AS hcswfl ON stdstd.id = hcswfl.perPersonId LEFT JOIN
			hcsWelfare AS hcswel ON hcswfl.hcsWelfareId = hcswel.id
	WHERE	(
				(1 = (CASE WHEN ((hcshpt.cancel + hcsagc.cancelledStatus) IS NOT NULL AND LEN(hcshpt.cancel + hcsagc.cancelledStatus) > 0) THEN 0 ELSE 1 END)) OR
				((hcshpt.cancel + hcsagc.cancelledStatus) LIKE (CASE WHEN @userType = 'STAFF' THEN 'N%' ELSE 'NN' END))
			)
END