USE [MUStudent]
GO
/****** Object:  StoredProcedure [dbo].[sp_perSetListGender]    Script Date: 03/27/2014 11:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<ยุทธภูมิ ตวันนา>
-- Create date: <๑๕/๑๑/๒๕๕๖>
-- Description:	<สำหรับบันทึกข้อมูลตาราง perGender ครั้งละหลายเรคคอร์ด>
--  1. order			เป็น VARCHAR	รับค่าลำดับของเรคคอร์ด
--  2. id				เป็น VARCHAR	รับค่ารหัสเพศ
--  3. thGenderFullName	เป็น NVARCHAR	รับค่าชื่อเต็มของเพศภาษาไทย
--  4. thGenderInitials	เป็น NVARCHAR	รับค่าชื่อย่อของเพศภาษาไทย
--  5. enGenderFullName	เป็น NVARCHAR	รับค่าชื่อเต็มของเพศภาษาอังกฤษ
--  6. enGenderInitials เป็น NVARCHAR	รับค่าชื่อย่อของเพศภาษาอังกฤษ
--  7. by				เป็น NVARCHAR	รับค่าชื่อของผู้ที่กระทำกับฐานข้อมูล
-- =============================================
ALTER PROCEDURE [dbo].[sp_perSetListGender]
(
	@order VARCHAR(MAX) = NULL,
	@id VARCHAR(MAX) = NULL,
	@thGenderFullName NVARCHAR(MAX) = NULL,
	@thGenderInitials NVARCHAR(MAX) = NULL,
	@enGenderFullName NVARCHAR(MAX) = NULL,
	@enGenderInitials NVARCHAR(MAX) = NULL,
    @by NVARCHAR(255) = NULL
)
AS
BEGIN
	SET NOCOUNT ON
	
	SET @order = LTRIM(RTRIM(@order))
	SET @id = LTRIM(RTRIM(@id))
	SET @thGenderFullName = LTRIM(RTRIM(@thGenderFullName))
	SET @thGenderInitials = LTRIM(RTRIM(@thGenderInitials))
	SET @enGenderFullName = LTRIM(RTRIM(@enGenderFullName))
	SET @enGenderInitials = LTRIM(RTRIM(@enGenderInitials))
	SET @by = LTRIM(RTRIM(@by))
	
	DECLARE @action VARCHAR(10) = 'INSERT'
	DECLARE @table VARCHAR(50) = 'perGender'
	DECLARE @i INT = 1
	DECLARE @delimiter CHAR(1) = ';'
	DECLARE @orderSlice VARCHAR(MAX) = NULL
	DECLARE @idSlice VARCHAR(MAX) = NULL
	DECLARE @thGenderFullNameSlice NVARCHAR(MAX) = NULL
	DECLARE @thGenderInitialsSlice NVARCHAR(MAX) = NULL
	DECLARE @enGenderFullNameSlice NVARCHAR(MAX) = NULL
	DECLARE @enGenderInitialsSlice NVARCHAR(MAX) = NULL
	DECLARE @rowCount INT = 0
	DECLARE @value NVARCHAR(MAX) = NULL	
	DECLARE	@strBlank VARCHAR(50) = '----------**********.........0.0000000000000000000'
	DECLARE @ip VARCHAR(255) = dbo.fnc_perGetIP()
	
	WHILE (LEN(@order) > 0)
	BEGIN
		SET @orderSlice = (SELECT stringSlice FROM fnc_perParseString(@order, @delimiter))
		SET @order = (SELECT string FROM fnc_perParseString(@order, @delimiter))

		SET @idSlice = (SELECT stringSlice FROM fnc_perParseString(@id, @delimiter))
		SET @id = (SELECT string FROM fnc_perParseString(@id, @delimiter))
		
		SET @thGenderFullNameSlice = (SELECT stringSlice FROM fnc_perParseString(@thGenderFullName, @delimiter))
		SET @thGenderFullName = (SELECT string FROM fnc_perParseString(@thGenderFullName, @delimiter))
						
		SET @thGenderInitialsSlice = (SELECT stringSlice FROM fnc_perParseString(@thGenderInitials, @delimiter))
		SET @thGenderInitials = (SELECT string FROM fnc_perParseString(@thGenderInitials, @delimiter))
		
		SET @enGenderFullNameSlice = (SELECT stringSlice FROM fnc_perParseString(@enGenderFullName, @delimiter))
		SET @enGenderFullName = (SELECT string FROM fnc_perParseString(@enGenderFullName, @delimiter))		
		
		SET @enGenderInitialsSlice = (SELECT stringSlice FROM fnc_perParseString(@enGenderInitials, @delimiter))
		SET @enGenderInitials = (SELECT string FROM fnc_perParseString(@enGenderInitials, @delimiter))				
		
		IF (LEN(@orderSlice) > 0)
		BEGIN			
			SET @value = 'id=' + (CASE WHEN (@idSlice IS NOT NULL AND LEN(@idSlice) > 0 AND CHARINDEX(@idSlice, @strBlank) = 0) THEN ('"' + @idSlice + '"') ELSE 'NULL' END) + ', ' +
						 'thGenderFullName=' + (CASE WHEN (@thGenderFullNameSlice IS NOT NULL AND LEN(@thGenderFullNameSlice) > 0 AND CHARINDEX(@thGenderFullNameSlice, @strBlank) = 0) THEN ('"' + @thGenderFullNameSlice + '"') ELSE 'NULL' END) + ', ' +
						 'thGenderInitials=' + (CASE WHEN (@thGenderInitialsSlice IS NOT NULL AND LEN(@thGenderInitialsSlice) > 0 AND CHARINDEX(@thGenderInitialsSlice, @strBlank) = 0) THEN ('"' + @thGenderInitialsSlice + '"') ELSE 'NULL' END) + ', ' +
						 'enGenderFullName=' + (CASE WHEN (@enGenderFullNameSlice IS NOT NULL AND LEN(@enGenderFullNameSlice) > 0 AND CHARINDEX(@enGenderFullNameSlice, @strBlank) = 0) THEN ('"' + @enGenderFullNameSlice + '"') ELSE 'NULL' END) + ', ' +
						 'enGenderInitials=' + (CASE WHEN (@enGenderInitialsSlice IS NOT NULL AND LEN(@enGenderInitialsSlice) > 0 AND CHARINDEX(@enGenderInitialsSlice, @strBlank) = 0) THEN ('"' + @enGenderInitialsSlice + '"') ELSE 'NULL' END)
						 						 
			BEGIN TRY
				BEGIN TRAN	
					INSERT INTO perGender
					(
						id,
						thGenderFullName,
						thGenderInitials,
						enGenderFullName,
						enGenderInitials,
						createDate,
						createBy,
						createIp,
						modifyDate,
						modifyBy,
						modifyIp												
					)
					VALUES
					(
						CASE WHEN (@idSlice IS NOT NULL AND LEN(@idSlice) > 0 AND CHARINDEX(@idSlice, @strBlank) = 0) THEN @idSlice ELSE NULL END,
						CASE WHEN (@thGenderFullNameSlice IS NOT NULL AND LEN(@thGenderFullNameSlice) > 0 AND CHARINDEX(@thGenderFullNameSlice, @strBlank) = 0) THEN @thGenderFullNameSlice ELSE NULL END,
						CASE WHEN (@thGenderInitialsSlice IS NOT NULL AND LEN(@thGenderInitialsSlice) > 0 AND CHARINDEX(@thGenderInitialsSlice, @strBlank) = 0) THEN @thGenderInitialsSlice ELSE NULL END,
						CASE WHEN (@enGenderFullNameSlice IS NOT NULL AND LEN(@enGenderFullNameSlice) > 0 AND CHARINDEX(@enGenderFullNameSlice, @strBlank) = 0) THEN @enGenderFullNameSlice ELSE NULL END,
						CASE WHEN (@enGenderInitialsSlice IS NOT NULL AND LEN(@enGenderInitialsSlice) > 0 AND CHARINDEX(@enGenderInitialsSlice, @strBlank) = 0) THEN @enGenderInitialsSlice ELSE NULL END,
						GETDATE(),
						CASE WHEN (@by IS NOT NULL AND LEN(@by) > 0 AND CHARINDEX(@by, @strBlank) = 0) THEN @by ELSE NULL END,
						@ip,
						NULL,
						NULL,
						NULL
					)
				COMMIT TRAN
				SET @rowCount = @rowCount + 1
			END TRY
			BEGIN CATCH
				ROLLBACK TRAN
				INSERT INTO perErrorLog
				(
					errorDatabase,
					errorTable,
					errorAction,
					errorValue,
					errorMessage,
					errorNumber,
					errorSeverity,
					errorState,
					errorLine,
					errorProcedure,
					errorActionDate,
					errorActionBy,
					errorIp
				)
				VALUES
				(
					DB_NAME(),
					@table,
					@action,
					@value,
					ERROR_MESSAGE(),
					ERROR_NUMBER(),
					ERROR_SEVERITY(),
					ERROR_STATE(),
					ERROR_LINE(),
					ERROR_PROCEDURE(),
					GETDATE(),
					CASE WHEN (@by IS NOT NULL AND LEN(@by) > 0 AND CHARINDEX(@by, @strBlank) = 0) THEN @by ELSE NULL END,
					@ip
				)				
			END CATCH							 
		END		
	END

	SELECT @rowCount	
END
