USE [Infinity]
GO
/****** Object:  StoredProcedure [dbo].[sp_plcSetCountry]    Script Date: 09/14/2015 13:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: <ยุทธภูมิ ตวันนา>
-- Create date	: <๑๘/๑๑/๒๕๕๖>
-- Description	: <สำหรับบันทึกข้อมูลตาราง plcCountry ครั้งละ ๑ เรคคอร์ด>
--  1. action					เป็น VARCHAR	รับค่าการกระทำกับฐานข้อมูล
--  2. id						เป็น VARCHAR	รับค่ารหัสประเทศ
--  3. countryNameTH			เป็น NVARCHAR	รับค่าชื่อประเทศภาษาไทย
--  4. countryNameEN			เป็น NVARCHAR	รับค่าชื่อประเทศภาษาอังกฤษ
--  5. isoCountryCodes2Letter	เป็น VARCHAR	รับค่าชื่อย่อประเทศ 2 ตัว
--  6. isoCountryCodes3Letter	เป็น VARCHAR	รับค่าชื่อย่อประเทศ 3 ตัว
--  7. cancelledStatus			เป็น VARCHAR	รับค่าสถานะการยกเลิก
--	8. by						เป็น NVARCHAR	รับค่าชื่อของผู้ที่กระทำกับฐานข้อมูล
--	9. ip						เป็น VARCHAR	รับค่าหมายเลขไอพีของผู้ที่กระทำกับฐานข้อมูล
-- =============================================
ALTER PROCEDURE [dbo].[sp_plcSetCountry]
(
	@action VARCHAR(10) = NULL,
	@id VARCHAR(MAX) = NULL,
	@countryNameTH NVARCHAR(MAX) = NULL,
	@countryNameEN NVARCHAR(MAX) = NULL,
	@isoCountryCodes2Letter VARCHAR(MAX) = NULL,
	@isoCountryCodes3Letter VARCHAR(MAX) = NULL,
	@cancelledStatus VARCHAR(MAX) = NULL,	
	@by NVARCHAR(255) = NULL,
	@ip VARCHAR(MAX) = NULL
)
AS
BEGIN
	SET NOCOUNT ON
	
	SET @action = LTRIM(RTRIM(@action))
	SET @id = LTRIM(RTRIM(@id))
	SET @countryNameTH = LTRIM(RTRIM(@countryNameTH))
	SET @countryNameEN = LTRIM(RTRIM(@countryNameEN))
	SET @isoCountryCodes2Letter = LTRIM(RTRIM(@isoCountryCodes2Letter))
	SET @isoCountryCodes3Letter = LTRIM(RTRIM(@isoCountryCodes3Letter))
	SET @cancelledStatus = LTRIM(RTRIM(@cancelledStatus))	
	SET @by = LTRIM(RTRIM(@by))
	SET @ip = LTRIM(RTRIM(@ip))	
	
	DECLARE @table VARCHAR(50) = 'plcCountry'
	DECLARE @rowCount INT = 0
	DECLARE @rowCountUpdate INT = 0
	DECLARE @value NVARCHAR(MAX) = NULL
	DECLARE	@strBlank VARCHAR(50) = '----------**********.........0.0000000000000000000'
	
	SET @action = UPPER(@action)
	
	IF (@action = 'INSERT' OR @action = 'UPDATE' OR @action = 'DELETE')
	BEGIN
		SET @value = 'id=' + (CASE WHEN (@id IS NOT NULL AND LEN(@id) > 0 AND CHARINDEX(@id, @strBlank) = 0) THEN ('"' + @id + '"') ELSE 'NULL' END) + ', ' +
					 'countryNameTH=' + (CASE WHEN (@countryNameTH IS NOT NULL AND LEN(@countryNameTH) > 0 AND CHARINDEX(@countryNameTH, @strBlank) = 0) THEN ('"' + @countryNameTH + '"') ELSE 'NULL' END) + ', ' +
					 'countryNameEN=' + (CASE WHEN (@countryNameEN IS NOT NULL AND LEN(@countryNameEN) > 0 AND CHARINDEX(@countryNameEN, @strBlank) = 0) THEN ('"' + @countryNameEN + '"') ELSE 'NULL' END) + ', ' +
					 'isoCountryCodes2Letter=' + (CASE WHEN (@isoCountryCodes2Letter IS NOT NULL AND LEN(@isoCountryCodes2Letter) > 0 AND CHARINDEX(@isoCountryCodes2Letter, @strBlank) = 0) THEN ('"' + @isoCountryCodes2Letter + '"') ELSE 'NULL' END) + ', ' +
					 'isoCountryCodes3Letter=' + (CASE WHEN (@isoCountryCodes3Letter IS NOT NULL AND LEN(@isoCountryCodes3Letter) > 0 AND CHARINDEX(@isoCountryCodes3Letter, @strBlank) = 0) THEN ('"' + @isoCountryCodes3Letter + '"') ELSE 'NULL' END) + ', ' +
					 'cancelledStatus=' + (CASE WHEN (@cancelledStatus IS NOT NULL AND LEN(@cancelledStatus) > 0 AND CHARINDEX(@cancelledStatus, @strBlank) = 0) THEN ('"' + @cancelledStatus + '"') ELSE 'NULL' END)
					 
		BEGIN TRY
			BEGIN TRAN
				IF (@action = 'INSERT')
				BEGIN
 					INSERT INTO plcCountry
 					(
						id,
						countryNameTH,
						countryNameEN,
						isoCountryCodes2Letter,
						isoCountryCodes3Letter,
						cancelledStatus,
						createDate,
						createBy,
						createIp,
						modifyDate,
						modifyBy,
						modifyIp						
					)
					VALUES
					(
						CASE WHEN (@id IS NOT NULL AND LEN(@id) > 0 AND CHARINDEX(@id, @strBlank) = 0) THEN @id ELSE NULL END,
						CASE WHEN (@countryNameTH IS NOT NULL AND LEN(@countryNameTH) > 0 AND CHARINDEX(@countryNameTH, @strBlank) = 0) THEN @countryNameTH ELSE NULL END,
						CASE WHEN (@countryNameEN IS NOT NULL AND LEN(@countryNameEN) > 0 AND CHARINDEX(@countryNameEN, @strBlank) = 0) THEN @countryNameEN ELSE NULL END,
						CASE WHEN (@isoCountryCodes2Letter IS NOT NULL AND LEN(@isoCountryCodes2Letter) > 0 AND CHARINDEX(@isoCountryCodes2Letter, @strBlank) = 0) THEN @isoCountryCodes2Letter ELSE NULL END,
						CASE WHEN (@isoCountryCodes3Letter IS NOT NULL AND LEN(@isoCountryCodes3Letter) > 0 AND CHARINDEX(@isoCountryCodes3Letter, @strBlank) = 0) THEN @isoCountryCodes3Letter ELSE NULL END,
						CASE WHEN (@cancelledStatus IS NOT NULL AND LEN(@cancelledStatus) > 0 AND CHARINDEX(@cancelledStatus, @strBlank) = 0) THEN @cancelledStatus ELSE NULL END,
						GETDATE(),
						CASE WHEN (@by IS NOT NULL AND LEN(@by) > 0 AND CHARINDEX(@by, @strBlank) = 0) THEN @by ELSE NULL END,
						CASE WHEN (@ip IS NOT NULL AND LEN(@ip) > 0 AND CHARINDEX(@ip, @strBlank) = 0) THEN @ip ELSE NULL END,
						NULL,
						NULL,
						NULL
					)	
					
					SET @rowCount = @rowCount + 1	
				END
				
				IF (@action = 'UPDATE' OR @action = 'DELETE')					
				BEGIN
					IF (@id IS NOT NULL AND LEN(@id) > 0 AND CHARINDEX(@id, @strBlank) = 0)
					BEGIN
						SET @rowCountUpdate = (SELECT COUNT(id) FROM plcCountry WHERE id = @id)
						
						IF (@rowCountUpdate > 0)
						BEGIN
							IF (@action = 'UPDATE')
							BEGIN
								UPDATE plcCountry SET
									countryNameTH			= CASE WHEN (@countryNameTH IS NOT NULL AND LEN(@countryNameTH) > 0 AND CHARINDEX(@countryNameTH, @strBlank) = 0) THEN @countryNameTH ELSE (CASE WHEN (@countryNameTH IS NOT NULL AND (LEN(@countryNameTH) = 0 OR CHARINDEX(@countryNameTH, @strBlank) > 0)) THEN NULL ELSE countryNameTH END) END,
									countryNameEN			= CASE WHEN (@countryNameEN IS NOT NULL AND LEN(@countryNameEN) > 0 AND CHARINDEX(@countryNameEN, @strBlank) = 0) THEN @countryNameEN ELSE (CASE WHEN (@countryNameEN IS NOT NULL AND (LEN(@countryNameEN) = 0 OR CHARINDEX(@countryNameEN, @strBlank) > 0)) THEN NULL ELSE countryNameEN END) END,
									isoCountryCodes2Letter	= CASE WHEN (@isoCountryCodes2Letter IS NOT NULL AND LEN(@isoCountryCodes2Letter) > 0 AND CHARINDEX(@isoCountryCodes2Letter, @strBlank) = 0) THEN @isoCountryCodes2Letter ELSE (CASE WHEN (@isoCountryCodes2Letter IS NOT NULL AND (LEN(@isoCountryCodes2Letter) = 0 OR CHARINDEX(@isoCountryCodes2Letter, @strBlank) > 0)) THEN NULL ELSE isoCountryCodes2Letter END) END,
									isoCountryCodes3Letter	= CASE WHEN (@isoCountryCodes3Letter IS NOT NULL AND LEN(@isoCountryCodes3Letter) > 0 AND CHARINDEX(@isoCountryCodes3Letter, @strBlank) = 0) THEN @isoCountryCodes3Letter ELSE (CASE WHEN (@isoCountryCodes3Letter IS NOT NULL AND (LEN(@isoCountryCodes3Letter) = 0 OR CHARINDEX(@isoCountryCodes3Letter, @strBlank) > 0)) THEN NULL ELSE isoCountryCodes3Letter END) END,
									cancelledStatus			= CASE WHEN (@cancelledStatus IS NOT NULL AND LEN(@cancelledStatus) > 0 AND CHARINDEX(@cancelledStatus, @strBlank) = 0) THEN @cancelledStatus ELSE (CASE WHEN (@cancelledStatus IS NOT NULL AND (LEN(@cancelledStatus) = 0 OR CHARINDEX(@cancelledStatus, @strBlank) > 0)) THEN NULL ELSE cancelledStatus END) END,
									modifyDate				= GETDATE(),
									modifyBy				= CASE WHEN (@by IS NOT NULL AND LEN(@by) > 0 AND CHARINDEX(@by, @strBlank) = 0) THEN @by ELSE (CASE WHEN (@by IS NOT NULL AND (LEN(@by) = 0 OR CHARINDEX(@by, @strBlank) > 0)) THEN NULL ELSE modifyBy END) END,
									modifyIp				= CASE WHEN (@ip IS NOT NULL AND LEN(@ip) > 0 AND CHARINDEX(@ip, @strBlank) = 0) THEN @ip ELSE (CASE WHEN (@ip IS NOT NULL AND (LEN(@ip) = 0 OR CHARINDEX(@ip, @strBlank) > 0)) THEN NULL ELSE modifyIp END) END
								WHERE id = @id
							END
							
							IF (@action = 'DELETE')								
							BEGIN 
								DELETE FROM plcCountry WHERE id = @id
							END
							
							SET @rowCount = @rowCount + 1						
						END							
					END				
				END
			COMMIT TRAN									
		END TRY
		BEGIN CATCH
			ROLLBACK TRAN
			INSERT INTO InfinityLog..perErrorLog
			(
				errorDatabase,
				errorTable,
				errorAction,
				errorValue,
				errorMessage,
				errorNumber,
				errorSeverity,
				errorState,
				errorLine,
				errorProcedure,
				errorActionDate,
				errorActionBy,
				errorIp
			)
			VALUES
			(
				DB_NAME(),
				@table,
				@action,
				@value,
				ERROR_MESSAGE(),
				ERROR_NUMBER(),
				ERROR_SEVERITY(),
				ERROR_STATE(),
				ERROR_LINE(),
				ERROR_PROCEDURE(),
				GETDATE(),
				CASE WHEN (@by IS NOT NULL AND LEN(@by) > 0 AND CHARINDEX(@by, @strBlank) = 0) THEN @by ELSE NULL END,
				CASE WHEN (@ip IS NOT NULL AND LEN(@ip) > 0 AND CHARINDEX(@ip, @strBlank) = 0) THEN @ip ELSE NULL END
			)			
		END CATCH					 
	END
	
	SELECT @rowCount	
END
