USE [Infinity]
GO
/****** Object:  StoredProcedure [dbo].[sp_plcGetListProvince]    Script Date: 04-08-2016 16:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: <ยุทธภูมิ ตวันนา>
-- Create date	: <๑๘/๐๕/๒๕๕๘>
-- Description	: <สำหรับแสดงข้อมูลสถานที่>
--	1. keyword			เป็น NVARCHAR	รับค่าคำค้น
--	2. country			เป็น VARCHAR	รับค่ารหัสประเทศ
--	3. cancelledStatus	เป็น VARCHAR	รับค่าสถานะการยกเลิก
--  4. sortOrderBy		เป็น VARCHAR	รับค่าคอลัมภ์ที่ต้องการเรียงลำดับ
--  5. sortExpression	เป็น VARCHAR	รับค่าวิธีการเรียงลำดับ
-- =============================================
ALTER PROCEDURE [dbo].[sp_plcGetListProvince] 
(
	@keyword NVARCHAR(MAX) = NULL,
	@country VARCHAR(3) = NULL,
	@cancelledStatus VARCHAR(1) = NULL,
	@sortOrderBy VARCHAR(255) = NULL,
	@sortExpression VARCHAR(255) = NULL	
)
AS
BEGIN
	SET NOCOUNT ON
	
	SET @keyword = LTRIM(RTRIM(@keyword))
	SET @country = LTRIM(RTRIM(@country))
	SET @cancelledStatus = LTRIM(RTRIM(@cancelledStatus))
	SET @sortOrderBy = LTRIM(RTRIM(@sortOrderBy))
	SET @sortExpression = LTRIM(RTRIM(@sortExpression))	
	
	DECLARE @sort VARCHAR(255) = ''
	
	SET @sortOrderBy = (CASE WHEN (@sortOrderBy IS NOT NULL) AND (LEN(@sortOrderBy) > 0) THEN @sortOrderBy ELSE 'ID' END)
	SET @sortExpression = (CASE WHEN (@sortExpression IS NOT NULL) AND (LEN(@sortExpression) > 0) THEN @sortExpression ELSE 'Ascending' END)
	SET @sort = (@sortOrderBy + ' ' + @sortExpression)	
	
	SELECT	plcpvn.id,
			plcpvn.plcCountryId,
			plccon.isoCountryCodes3Letter,
			plcpvn.provinceNameTH,
			plcpvn.provinceNameEN,
			plcpvn.regionalName,
			plcpvn.cancelledStatus,
			plcpvn.createDate,
			plcpvn.modifyDate
	INTO	#plcTemp1
	FROM	plcProvince AS plcpvn INNER JOIN
			plcCountry AS plccon ON plcpvn.plcCountryId = plccon.id
	WHERE	(1 = (CASE WHEN (LEN(ISNULL(@keyword, '')) > 0) THEN 0 ELSE 1 END) OR
				(ISNULL(plcpvn.id, '') LIKE ('%' + @keyword + '%')) OR
			 	(ISNULL(plcpvn.provinceNameTH, '') LIKE ('%' + @keyword + '%')) OR
			 	(ISNULL(plcpvn.provinceNameEN, '') LIKE ('%' + @keyword + '%'))) AND
			(1 = (CASE WHEN (LEN(ISNULL(@country, '')) > 0) THEN 0 ELSE 1 END) OR plcpvn.plcCountryId = @country) AND
			(1 = (CASE WHEN (LEN(ISNULL(@cancelledStatus, '')) > 0) THEN 0 ELSE 1 END) OR plcpvn.cancelledStatus = @cancelledStatus)

	SELECT	ROW_NUMBER() OVER(ORDER BY 
				CASE WHEN @sort = 'ID Ascending'				THEN id END ASC,			
				CASE WHEN @sort = 'Country Ascending'			THEN isoCountryCodes3Letter END ASC,			
				CASE WHEN @sort = 'Full Name ( TH ) Ascending'	THEN provinceNameTH END ASC,
				CASE WHEN @sort = 'Full Name ( EN ) Ascending'	THEN provinceNameEN END ASC,						
				CASE WHEN @sort = 'Cancelled Status Ascending'	THEN cancelledStatus END ASC,
				CASE WHEN @sort = 'Create Date Ascending'		THEN createDate END ASC,
				CASE WHEN @sort = 'Modify Date Ascending'		THEN modifyDate END ASC,
						
				CASE WHEN @sort = 'ID Descending'				THEN id END DESC,			
				CASE WHEN @sort = 'Country Descending'			THEN isoCountryCodes3Letter END DESC,			
				CASE WHEN @sort = 'Full Name ( TH ) Descending'	THEN provinceNameTH END DESC,
				CASE WHEN @sort = 'Full Name ( EN ) Descending'	THEN provinceNameEN END DESC,						
				CASE WHEN @sort = 'Cancelled Status Descending'	THEN cancelledStatus END DESC,
				CASE WHEN @sort = 'Create Date Descending'		THEN createDate END DESC,
				CASE WHEN @sort = 'Modify Date Descending'		THEN modifyDate END DESC	
			) AS rowNum,
			*
	FROM	#plcTemp1
END