USE [Infinity]
GO
/****** Object:  StoredProcedure [dbo].[sp_perGetListEducationalBackground]    Script Date: 04-08-2016 16:10:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: <ยุทธภูมิ ตวันนา>
-- Create date	: <๑๘/๐๕/๒๕๕๘>
-- Description	: <สำหรับแสดงข้อมูลวุฒิการศึกษา>
--	1. keyword				เป็น NVARCHAR	รับค่าคำค้น
--	2. educationalLevel		เป็น VARCHAR	รับค่ารหัสระดับการศึกษา
--	3. cancelledStatus		เป็น VARCHAR	รับค่าสถานะการยกเลิก
--  4. sortOrderBy			เป็น VARCHAR	รับค่าคอลัมภ์ที่ต้องการเรียงลำดับ
--  5. sortExpression		เป็น VARCHAR	รับค่าวิธีการเรียงลำดับ
-- =============================================
ALTER PROCEDURE [dbo].[sp_perGetListEducationalBackground]
(
	@keyword NVARCHAR(MAX) = NULL,
	@educationalLevel VARCHAR(255) = NULL,
	@cancelledStatus VARCHAR(1) = NULL,
	@sortOrderBy VARCHAR(255) = NULL,
	@sortExpression VARCHAR(255) = NULL
)	
AS
BEGIN
	SET NOCOUNT ON

	SET @keyword = LTRIM(RTRIM(@keyword))
	SET @educationalLevel = LTRIM(RTRIM(@educationalLevel))
	SET @cancelledStatus = LTRIM(RTRIM(@cancelledStatus))
	SET @sortOrderBy = LTRIM(RTRIM(@sortOrderBy))
	SET @sortExpression = LTRIM(RTRIM(@sortExpression))	
	
	DECLARE @sort VARCHAR(255) = ''
	
	SET @sortOrderBy = (CASE WHEN (@sortOrderBy IS NOT NULL) AND (LEN(@sortOrderBy) > 0) THEN @sortOrderBy ELSE 'ID' END)
	SET @sortExpression = (CASE WHEN (@sortExpression IS NOT NULL) AND (LEN(@sortExpression) > 0) THEN @sortExpression ELSE 'Ascending' END)
	SET @sort = (@sortOrderBy + ' ' + @sortExpression)

	SELECT	peredb.id,
			peredb.thEducationalBackgroundName AS educationalBackgroundNameTH,
			peredb.enEducationalBackgroundName AS educationalBackgroundNameEN,
			peredb.perEducationalLevelId,
			peredl.thEducationalLevelName AS educationalLevelNameTH,
			peredl.enEducationalLevelName AS educationalLevelNameEN,
			peredb.cancel AS cancelledStatus,
			peredb.createDate,
			peredb.modifyDate
	INTO	#perTemp1
	FROM	perEducationalBackground AS peredb INNER JOIN
			perEducationalLevel AS peredl ON peredb.perEducationalLevelId = peredl.id
	WHERE	(1 = (CASE WHEN (LEN(ISNULL(@keyword, '')) > 0) THEN 0 ELSE 1 END) OR	
				(ISNULL(peredb.id, '') LIKE ('%' + @keyword + '%')) OR
			 	(ISNULL(peredb.thEducationalBackgroundName, '') LIKE ('%' + @keyword + '%')) OR
			 	(ISNULL(peredb.enEducationalBackgroundName, '') LIKE ('%' + @keyword + '%'))) AND
			(1 = (CASE WHEN (LEN(ISNULL(@educationalLevel, '')) > 0) THEN 0 ELSE 1 END) OR CHARINDEX(peredl.id, @educationalLevel) != 0) AND	
			(1 = (CASE WHEN (LEN(ISNULL(@cancelledStatus, '')) > 0) THEN 0 ELSE 1 END) OR peredb.cancel = @cancelledStatus)

	SELECT	ROW_NUMBER() OVER(ORDER BY 
				CASE WHEN @sort = 'ID Ascending'						THEN id END ASC,						
				CASE WHEN @sort = 'Full Name ( TH ) Ascending'			THEN educationalBackgroundNameTH END ASC,
				CASE WHEN @sort = 'Educational Level ( TH ) Ascending'	THEN educationalLevelNameTH END ASC,
				CASE WHEN @sort = 'Full Name ( EN ) Ascending'			THEN educationalBackgroundNameEN END ASC,
				CASE WHEN @sort = 'Educational Level ( EN ) Ascending'	THEN educationalLevelNameEN END ASC,
				CASE WHEN @sort = 'Cancelled Status Ascending'			THEN cancelledStatus END ASC,
				CASE WHEN @sort = 'Create Date Ascending'				THEN createDate END ASC,
				CASE WHEN @sort = 'Modify Date Ascending'				THEN modifyDate END ASC,
						
				CASE WHEN @sort = 'ID Descending'						THEN id END DESC,						
				CASE WHEN @sort = 'Full Name ( TH ) Descending'			THEN educationalBackgroundNameTH END DESC,
				CASE WHEN @sort = 'Educational Level ( TH ) Descending'	THEN educationalLevelNameTH END DESC,
				CASE WHEN @sort = 'Full Name ( EN ) Descending'			THEN educationalBackgroundNameEN END DESC,
				CASE WHEN @sort = 'Educational Level ( EN ) Descending'	THEN educationalLevelNameEN END DESC,
				CASE WHEN @sort = 'Cancelled Status Descending'			THEN cancelledStatus END DESC,
				CASE WHEN @sort = 'Create Date Descending'				THEN createDate END DESC,
				CASE WHEN @sort = 'Modify Date Descending'				THEN modifyDate END DESC
			) AS rowNum,
			*
	FROM	#perTemp1
END
