USE [Infinity]
GO
/****** Object:  Trigger [dbo].[tg_perHealthy]    Script Date: 05/22/2015 11:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<ยุทธภูมิ ตวันนา>
-- Create date: <๒๙/๑๑/๒๕๕๖>
-- Description:	<สำหรับบันทึกข้อมูล Transaction ของตาราง perHealthy หลังจากที่มีการ INSERT, DELETE, UPDATE>
-- =============================================
ALTER TRIGGER [dbo].[tg_perHealthy] 
   ON [dbo].[perHealthy] 
   AFTER INSERT, DELETE, UPDATE
AS 
BEGIN
	SET NOCOUNT ON
	
	DECLARE @table VARCHAR(50) = 'perHealthy'
    DECLARE @action VARCHAR(10) = NULL

	IF EXISTS (SELECT * FROM inserted)
	BEGIN
		IF EXISTS (SELECT * FROM deleted)
			SET @action = 'UPDATE'
		ELSE
			SET @action = 'INSERT'
			
		INSERT INTO InfinityLog..perHealthyLog
		(
			perPersonId,
			bodyMassDetail,
			intolerance,
			intoleranceDetail,
			diseases,
			diseasesDetail,
			ailHistoryFamily,
			ailHistoryFamilyDetail,
			travelAbroad,
			travelAbroadDetail,
			impairments,
			perImpairmentsId,
			impairmentsEquipment,
			createDate,
			createBy,
			createIp,
			modifyDate,
			modifyBy,
			modifyIp,
			logDatabase,
			logTable,
			logAction,
			logActionDate,
			logActionBy,
			logIp
		)
		SELECT	*,
				DB_NAME(),
				@table,
				@action,
				GETDATE(),
				SYSTEM_USER,
				dbo.fnc_perGetIP()
		FROM	inserted
	END
	ELSE
		BEGIN
			SET @action = 'DELETE'
			
			INSERT INTO InfinityLog..perHealthyLog
			(
				perPersonId,
				bodyMassDetail,
				intolerance,
				intoleranceDetail,
				diseases,
				diseasesDetail,
				ailHistoryFamily,
				ailHistoryFamilyDetail,
				travelAbroad,
				travelAbroadDetail,
				impairments,
				perImpairmentsId,
				impairmentsEquipment,
				createDate,
				createBy,
				createIp,
				modifyDate,
				modifyBy,
				modifyIp,
				logDatabase,
				logTable,
				logAction,
				logActionDate,
				logActionBy,
				logIp
			)
			SELECT	*,
					DB_NAME(),
					@table,
					@action,
					GETDATE(),
					SYSTEM_USER,
					dbo.fnc_perGetIP()
			FROM	deleted			
		END
END
